body {
    font-family: Arial, sans-serif;
    background-color: #6d8b97;
    margin: 0;
    padding: 0;
}

h1 {
    color: #ffffff;
}

p {
    font-size: 18px;
    color: #f0f0f0;
}

a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #00ca28;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #0056b3;
}